@import "tailwindcss";
@import "@nuxt/ui-pro";

:root {
  --ui-radius: 0.5rem;
  /* --ui-header-height: --spacing(16); */
  scroll-behavior: smooth;
  --my-full-heigh: calc(100vh - var(--ui-header-height));
}